body {
    font-family: Open Sans;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logocolor {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin: 50px;
    color: #474747;
}

.btncolor {
    border-radius: 5px;
    background: #FD6E0A;
    border:none; 
    color:#fff;
    font-weight: 700;
    padding: 10px 15px;   
}

.banar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 20px 150px;
}

.banar .banar-item {
    
}

.banar img{
    width: 400px;

}
